body {
    margin: 0;
    padding: 0;
    border: 0;
}
p, .accordion-body{
    text-align: justify;
}
#slide1 {
    background: rgba(0, 0, 0, 0.384) url("images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
#slide2 {
    background: rgba(0, 0, 0, 0.384) url("images/furniture2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
#slide3 {
    background: rgba(0, 0, 0, 0.384) url("images/furniture3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.carousel img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.slider-text p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* toast */
.toast{
    position: absolute;
    top: 10%;
    right: -15%;
    border:0;
    width:30%;
    background-color: rgb(223, 221, 221);
    border-left:5px solid rgb(15, 23, 131);
}
.toast img{
    width: 20px;
}

/* --------------------------------happy client says ------------------------ */

.card{
    width: 32%;
    border: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top: 2px solid rgb(0, 0, 0);
}

.card img {
    width: 100px;
    height: 100px;
}

.accordion-button{
    background-color: rgba(99, 95, 95, 0.103);
}

.accordion-body{
    background-image: linear-gradient(rgba(75, 74, 74, 0.281), rgba(117, 115, 115, 0.123));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ----------------------------footer section------------------------------------- */
footer {
    background-color: #282c2f;
    color: white;
}
.footer-half-part {
    width: 45%;
    padding: 2%;
    margin-left: 13%;
}

.footer-section {
    display: flex;
}
footer p {
    font-weight: 500;
    font-size: 15px;
}

footer .icon {
    padding: 8px;
    background-color: #857f7d3f;
    border-radius: 50%;
}
.social-media i {
    font-size: 1.5em;
    margin-right: 10px;
    color: rgba(167, 162, 167, 0.671);
}
footer a {
    text-decoration: none;
    margin: 4px 0;
}
#copyright {
    text-align: center;
    color: rgb(236, 194, 194);
    margin-bottom: 0;
}
